In [5]:
import requests
from bs4 import BeautifulSoup as bs

In [6]:
#load the webpage content
r = requests.get("https://keithgalli.github.io/web-scraping/webpage.html")
#convert to a beautiful soup object
soup = bs(r.content)
#print(soup.prettify())

Grab all of the social links from the webpage

In [8]:
#using select function

#links = soup.select("a")
links = soup.select("ul.socials a")
actual_links = [link['href'] for link in links ]
print(actual_links)

['https://www.instagram.com/keithgalli/', 'https://twitter.com/keithgalli', 'https://www.linkedin.com/in/keithgalli/', 'https://www.tiktok.com/@keithgalli']

In [14]:
#using find function

u_list = soup.find("ul", attrs={"class": "socials"})
#print(u_list.prettify())
#print("------------------")
links = u_list.find_all("a")
actual_links = [link['href'] for link in links ]
print(actual_links)

['https://www.instagram.com/keithgalli/', 'https://twitter.com/keithgalli', 'https://www.linkedin.com/in/keithgalli/', 'https://www.tiktok.com/@keithgalli']

In [15]:
# using select but directly iterating the elements <li>

links = soup.select("li.social a")
actual_links = [link['href'] for link in links ]
print(actual_links)

['https://www.instagram.com/keithgalli/', 'https://twitter.com/keithgalli', 'https://www.linkedin.com/in/keithgalli/', 'https://www.tiktok.com/@keithgalli']

Scrape a HTML table into pandas dataframe

In [23]:
import pandas as pd

D:\btp\meraloda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [40]:
# table-> a list with only one element
# therefore, without [0]->list with 1 element
# with [0] -> first and only element in tag form
table = soup.select("table.hockey-stats")[0]

columns = table.find("thead").find_all("th")
column_names = [c.string for c in columns]

rows = table.find("tbody").find_all("tr")

l = []
for tr in rows:
    td = tr.find_all("td")
    row = [str(tr.get_text()).strip() for tr in td]
    l.append(row)

df = pd.DataFrame(l, columns = column_names)
df.head()

,S,Team,League,GP,G,A,TP,PIM,+/-,,POST,GP,G,A,TP,PIM,+/-
0,2014-15,MIT (Mass. Inst. of Tech.),ACHA II,17,3,9,12,20,,|,,,,,,,
1,2015-16,MIT (Mass. Inst. of Tech.),ACHA II,9,1,1,2,2,,|,,,,,,,
2,2016-17,MIT (Mass. Inst. of Tech.),ACHA II,12,5,5,10,8,0,|,,,,,,,
3,2017-18,Did not play,,,,,,,,|,,,,,,,
4,2018-19,MIT (Mass. Inst. of Tech.),ACHA III,8,5,10,15,8,,|,,,,,,,

In [42]:
df['Team']

0    MIT (Mass. Inst. of Tech.)
1    MIT (Mass. Inst. of Tech.)
2    MIT (Mass. Inst. of Tech.)
3                  Did not play
4    MIT (Mass. Inst. of Tech.)
Name: Team, dtype: object

In [41]:
df.loc[df['Team'] != "Did not play"]

,S,Team,League,GP,G,A,TP,PIM,+/-,,POST,GP,G,A,TP,PIM,+/-
0,2014-15,MIT (Mass. Inst. of Tech.),ACHA II,17,3,9,12,20,,|,,,,,,,
1,2015-16,MIT (Mass. Inst. of Tech.),ACHA II,9,1,1,2,2,,|,,,,,,,
2,2016-17,MIT (Mass. Inst. of Tech.),ACHA II,12,5,5,10,8,0,|,,,,,,,
4,2018-19,MIT (Mass. Inst. of Tech.),ACHA III,8,5,10,15,8,,|,,,,,,,

Grab all fun facts that contain the keyword "is"

In [45]:
import re

In [49]:
facts = soup.select("ul.fun-facts li")
# gives none values and not complete text -->
facts_with_is = [fact.find(string = re.compile("is")) for fact in facts]
# tricky and important -->
facts_with_is = [fact.find_parent().get_text() for fact in facts_with_is if fact]
facts_with_is

['Middle name is Ronald',
 'Dunkin Donuts coffee is better than Starbucks',
 "A favorite book series of mine is Ender's Game",
 'Current video game of choice is Rocket League',
 "The band that I've seen the most times live is the Zac Brown Band"]

Download an image from a webpage

In [56]:
url = "https://keithgalli.github.io/web-scraping/"

images = soup.select("div.row div.column img")
image_url = images[0]['src']
print(image_url)

full_url = url + image_url
img_data = requests.get(full_url).content
with open('lake.jpg', 'wb') as handler:
    handler.write(img_data)

images/italy/lake_como.jpg